/* src/components/IntroBlock.css */


/* .intro-block {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  /* background-color: #e8e4f0; /* Light lavender background */
  /* display: flex; */ 
  /* justify-content: center; */
  /* align-items: center;
  box-sizing: border-box;
  padding-top: 75px;
} */ 


.intro-block p {
  font-size: 1.5em;
  color: #B692C2; /* Blue text color */
  margin-left: 2em;
}